:root {
    --main-white: #f0f0f0;
    --main-pink: #C71585;
    --main-blue: #45567d;
    --main-gray: #303841;
  }
 
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /* Base styles */
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* navigation menu */
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-pink);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }

 
  /* Welcome section */

  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .welcome-section > h1 {
    font-family: 'Pacifico', cursive;
    font-size: 8rem;
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-white);
  }
  
   /* About me section*/
   .profile-pic {
    display: block;
    margin: 0 auto;
    width: 200px;
    max-width: 100%;
    height: auto;
  }
  
   .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
    max-width: 100%;
    height: auto;
    font-size: 3rem;
    background: var(--main-blue);
  }

  .about > h2 {
    margin-top: 70px;
    font-family: 'Pacifico', cursive;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-weight: 200;
    font-style: italic;
    max-width: 100%;
    height: auto;
    color: var(--main-white);
  }

.education-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    max-width: 100%;
    height: auto;
    color: var(--main-white);
    
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  width: 100%;
  
}

.education > h3 {
  font-family: 'Pacifico', cursive;
}

.skill-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 3rem;
      font-weight: 200;
      font-style: italic;
      max-width: 100%;
      height: auto;
      color: var(--main-white);
  }

  .skill-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; 
    max-width: 100%;
    margin-bottom: 20px;
  }

  .skill-set > h3 {
    font-family: 'Pacifico', cursive;
  }
  
  .resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    font-style: bold;
    max-width: 100%;
    height: auto;
}

  /* Contact Me */
  .contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-links {
    display: inline-block;
    padding: 100px;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-pink);
    background: var(--main-blue);
}

.contact-section-header {
  background: var(--main-blue);
  padding: 10px 105px 10px 105px;
}

.contact-section-header > h2 {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
}

.facebook {
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 100px;
  justify-content: flex-start;
}

.github {
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 100px;
  justify-content: center;
}

.twitter {
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 100px;
  justify-content: center;
}

.linked-in {
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 100px;
  justify-content: center;
}

.email {
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 100px;
  justify-content: flex-end;
}

/* Blog Section */

.blog-section > h2 {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  margin-top: 70px;
}
.blog-section {
  background-image: url("Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
}

.blog-tile {
  display: inline-block;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  text-align: center;
  }

  /* Blog Posts Page */

  .blog-content > h2 {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    margin-top: 70px;
  }

  .blog-content {
    background: var(--main-blue);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .blog-post {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-weight: 200;
    font-style: italic;
    max-width: 100%;
    height: auto;
    color: var(--main-white);
  }

  .blog-post > h2 {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    margin-top: 100px;
  }

  .blog-post > p {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    margin: 30px;
  }
